@import  './../../styles/variables.scss';


.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
  height: 80px;
}

.wrapper {
  display: flex;

  align-items: center;
}
.title{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color:$primary-color
}
.logo {

  svg {
    height: 65px;
    width: 65px;
    margin-right: 20px;
  }
}
.changeTheme {
  margin-right: 20px;
  cursor: pointer;
}


